/* Import stylesheets and hide from IE/Mac \*/
@import "lib/reset.css";
@import "lib/typography.css";
/* End import/hide */


/* Set the sizes and placments of the page elements */
/* My pages consist of a title, a navigation bar, a main column, and a
   postamble.  Everything is put inside a wrapper called condent. */
body {
    width: 820px; /* 752px; */
}

*.title {
    margin-top: 30px;
    width: 770px; /* 750px; */
    height: 100px;
    float: left; /* right; */
    padding: 0px;
    line-height: 130px; /* slightly larger than the height */
}

img { vertical-align:middle; }

div#content {
    overflow: auto;
}

div#table-of-contents {
    padding: 0.5em;
    margin: 1em -50px 1em 1em;
    display: block;

    float: right;
    border: 2px solid #666;
    max-width: 50%;
    overflow: auto;
}

div.main_column, div#postamble {
    width: 600px;
    float: left; /* right; */

    padding-left: 10px;
    padding-right: 10px;

    margin-top: 0px;
    margin-bottom: 0px;

    padding-bottom: 0px;
    padding-top: 0px;

    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

div.main_column {
    border-top: 1px solid #444444;

    margin-bottom: 0px;
    margin-top: 0px;

    padding-bottom: 30px;
    padding-top: 1.5em;
}

div#postamble {
    border-top: 1px dotted #333333;
    border-bottom: 1px solid #444444;

    padding-top: 2.0em;
    margin-bottom: 30px;

    margin-left: 150px;
}

*.left_col {
    width: 150px;
    float: left;
}
