# Ignore objects and archives
*.[oax]

# Other source repository archive directories (protects when importing)
.hg
.svn
CVS

# Ignore emacs backups and OSX stuff
*~
\#*
.\#*
.DS_Store
._*

# Ignore images
*.png
*.ppm
!example*.png
